<%= form_for(@note) do |f| %>
    
    <p>set priority</p>
    <%= f.number_field :priority %><br>
    <p>title</p>
    <%= f.text_field :title %><br>
    <p>content</p>
    <%= f.text_area :content %><br>

    <%= f.submit "SUBMIT" %>
<% end %>